<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Url>
            <version>0.2.0</version>
        </LCB_Url>
    </modules>
    <global>
        <helpers>
            <lcb_url>
                <class>LCB_Url_Helper</class>
            </lcb_url>
        </helpers>
        <models>
            <lcb_url>
                <class>LCB_Url_Model</class>
            </lcb_url>
            <core>
                <rewrite>
                    <url>LCB_Url_Model_Core_Url</url>
                    <url_rewrite_request>LCB_Url_Model_Core_Url_Rewrite_Request</url_rewrite_request>
                </rewrite>
            </core>
        </models>
    </global>
    <default>
        <web>
            <routers>
                <lcb_url>
                    <area>frontend</area>
                    <class>LCB_Url_Controller_Router</class>
                </lcb_url>
            </routers>
        </web>
    </default>
</config>
